[Desktop Entry]
Version=1.0
Name=AT&T Korn Shell
Type=Application
Comment=Korn Shell
Icon=utilities-terminal
Terminal=true
Exec=ksh93
Categories=ConsoleOnly;System;
GenericName=Korn Shell
Keywords=system;shell;ksh;scripts
X-AppStream-Ignore=true
