[Desktop Entry]
Version=1.0
Name=Korn Shell
Type=Application
Comment=Korn Shell
Terminal=true
Exec=ksh
Icon=terminal
Categories=ConsoleOnly;System;Shell;
GenericName=Korn Shell
Keywords=system;shell;ksh;scripts
OnlyShowIn=GNOME;KDE;LXDE;MATE;XFCE;Cinnamon;Unity
