[Desktop Entry]
Version=1.0
Name=Korn Shell (93)
Type=Application
Comment=Korn shell
Terminal=true
Exec=ksh93
Icon=terminal
Categories=ConsoleOnly;System;Shell;
GenericName=Korn shell
Keywords=system;shell;
OnlyShowIn=GNOME;KDE;LXDE;MATE;XFCE;Cinnamon;Unity
