#!/usr/bin/make -f
PACKAGE = ksh
SRC_VERSION := 93u+20120628
DL_VERSION = 2012-06-28
SRC_DIR = $(PACKAGE)-$(SRC_VERSION)
TARBALL = $(SRC_DIR).tar.gz

SHELL = /bin/sh
ARCH = $(shell bin/package)
INSTALL = install
INSTALL_FILE    = $(INSTALL) -p    -o root -g root  -m  644
INSTALL_PROGRAM = $(INSTALL) -p    -o root -g root  -m  755

package=ksh

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
INSTALL_PROGRAM += -s
endif

export CCFLAGS = $(CPPFLAGS) $(CFLAGS)

build: build-arch build-indep
build-arch: build-stamp
build-indep: build-stamp
build-stamp:
	bin/package make strip=0
	touch build-stamp

clean:
	dh_testdir
	dh_clean
	-test -f bin/ignore.old && mv bin/ignore.old bin/ignore
	-test -f bin/silent.old && mv bin/silent.old bin/silent
	-test -f bin/package.old && mv bin/package.old bin/package
	-test -f bin/mamprobe.old && mv bin/mamprobe.old bin/mamprobe
	-rm -rf arch/$(ARCH)

install: build
	dh_testdir
	dh_testroot
	dh_installdirs
	$(INSTALL_PROGRAM) arch/$(ARCH)/bin/ksh debian/ksh/bin/ksh93
	$(INSTALL_PROGRAM) arch/$(ARCH)/bin/shcomp debian/ksh/usr/bin/shcomp
	$(INSTALL_FILE) arch/$(ARCH)/man/man1/sh.1 debian/ksh/usr/share/man/man1/ksh93.1
	$(INSTALL_FILE) arch/$(ARCH)/fun/* debian/ksh/usr/share/ksh/functions
	$(INSTALL_FILE) debian/shcomp.1 debian/ksh/usr/share/man/man1/shcomp.1
	$(INSTALL_FILE) debian/fr-shcomp.1 debian/ksh/usr/share/man/fr/man1/shcomp.1
	dh_installdocs
	dh_installmenu
	dh_installchangelogs

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch

get-orig-source:
	rm -rf $(SRC_DIR) $(TARBALL)
	mkdir $(SRC_DIR)
	wget --http-user 'I accept www.opensource.org/licenses/cpl' \
	  --http-password . -O - \
	  http://www.research.att.com/~gsf/download/tgz/INIT.$(DL_VERSION).tgz | \
	  tar xzf - -C $(SRC_DIR)
	wget --http-user 'I accept www.opensource.org/licenses/cpl' \
	  --http-password . -O - \
	  http://www.research.att.com/~gsf/download/tgz/ast-ksh.$(DL_VERSION).tgz | \
	  tar xzf - -C $(SRC_DIR)
	tar cf - $(SRC_DIR) | tardy -group 0 -user 0 - - | gzip -c9 > $(TARBALL)

.PHONY: build clean binary-indep binary-arch binary install get-orig-source
